<?xml version="1.0" encoding="UTF-8"?>
<server description="Application Server">
  <featureManager>
    <feature>javaee-7.0</feature>
    <feature>clusterMember-1.0</feature>
    <feature>scalingMember-1.0</feature>
  </featureManager>
  <remoteFileAccess>
    <writeDir>${server.config.dir}</writeDir>
  </remoteFileAccess>
  <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" host="*"/>
  <applicationManager autoExpand="true"/>
  <include location="${server.config.dir}/collective-join-include.xml"/>
  <dataSource id="myds" jndiName="jdbc/sample" type="javax.sql.XADataSource">
    <jdbcDriver javax.sql.ConnectionPoolDataSource="org.mariadb.jdbc.MariaDbDataSource" javax.sql.DataSource="org.mariadb.jdbc.MariaDbDataSource" javax.sql.XADataSource="org.mariadb.jdbc.MariaDbDataSource">
      <library>
        <file name="${server.config.dir}/mariadb-java-client-1.5.9.jar"/>
      </library>
    </jdbcDriver>
    <properties databaseName="jeesample" password="password" serverName="database" user="jeeuser"/>
  </dataSource>
  <basicRegistry id="basic" realm="BasicRealm">
    <user name="websphere" password="{xor}KDo9LC83Oi06"/>
  </basicRegistry>
  <ejbContainer>
    <timerService>
      <persistentExecutor taskStoreRef="mystore"/>
    </timerService>
  </ejbContainer>
  <databaseStore dataSourceRef="myds" id="mystore"/>
</server>
