<?xml version="1.0" encoding="UTF-8"?>
<server description="Collective Controller">
  <include location="${server.config.dir}/collective-create-include.xml" />
  <quickStartSecurity userName="adminUser" userPassword="adminPassword"/>
  <variable name="defaultHostName" value="controller"/>
  <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443"/>
  <ssl id="defaultSSLConfig" keyStoreRef="serverIdentity" trustStoreRef="collectiveTrust" clientAuthenticationSupported="true"/>
</server>
